@import '../../Sass/mixin';
@import '../../Sass/variables';

.navbar-container{
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    background-color: aqua;
    &-content{
        width: 90%;
        height: auto;
        margin: auto;
        padding: .5rem 0rem;
        background-color: bisque;
    }
}